* {
    margin: 0;
    padding: 0; 
    font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
}

body{
  width: 100%;
  background: linear-gradient(to right,  #cc2407, rgba(239, 154, 27, 0.89))!important;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 120px repeat(3, 50px);
    background-color: #0e0e0e;
    padding: 15px;
    padding-bottom: 250px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 5px #1f280852;
}

.visor {
    grid-column: 1 / -1;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 10px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

.visor-anterior{
    font-size: 1rem;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 120px repeat(4, 50px);
}

.botoesfinais{
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

button, section{
cursor: pointer;
border: none;
background-color: rgba(125, 118, 118, 0.613);
color: #eee;
padding: 10px;
margin: 5px;
}

button:hover {
    background-color: #eee;
    color: #111;
  }

  .operator {
    background: #b30d0d;
  }
